{% extends 'base.html.twig' %}

{% block title %}Détail de vol{% endblock %}

{% block body %}
    {% block menu %}
        {% include "navbar/navbar.html.twig" %}
    {% endblock %}

    <div class="container">
        <h1 class="display-1 text-center">Détail de vol</h1>
        <h2 class="display-3">Vol {{ flight.flightNb }}</h1>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Numéro de vol</th>
                    <td>{{ flight.flightNb }}</td>
                </tr>
                <tr>
                    <th>Date et heure de départ</th>
                    <td>{{ flight.departureDatetime ? flight.departureDatetime|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Date et heure d'arrivée</th>
                    <td>{{ flight.arrivalDatetime ? flight.arrivalDatetime|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ flight.price }}</td>
                </tr>
                <tr>
                    <th>Remise</th>
                    <td>{{ flight.discount ? '✔️' : '❌' }}</td>
                </tr>
                <tr>
                    <th>Sièges disponibles</th>
                    <td>{{ flight.availableSeat }}</td>
                </tr>
            </tbody>
        </table>

        

        <div class="d-flex justify-content-center">
            <a href="{{ path('app_flights_index') }}" class="btn btn-lg btn-secondary me-3">Retour à la liste</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_flights_edit', {'id': flight.id}) }}" class="btn btn-lg btn-warning me-3" >éditer</a>
            {{ include('flights/_delete_form.html.twig') }}
            {% endif %}      
        </div>
    </div>
{% endblock %}
